#header
  %nav.navbar.navbar-default
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button#burger-menu-button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to root_path, class: 'navbar-brand' do
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li.non_mobile_nav
                = avatar_url(current_user, '100', 'user-avatar')
                = current_user.name
              %li.dropdown
                = link_to destroy_user_session_path, method: :delete do
                  %i.fa.fa-sign-out
                  Logout
        / /.navbar-collapse
      / /.container-fluid
