%nav.navbar.navbar-inverse.sidebar{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-sidebar-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "#"} Planet 9
  #bs-sidebar-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.active
        %a{:href => "/"}
          Home
          %span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home{:style => "font-size:16px;"}
      %li
        = link_to students_path do
          Students
          %span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-book{:style => "font-size:16px;"}
      %li
        = link_to teachers_path do
          Teachers
          %span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-plane{:style => "font-size:16px;"}
      %li
        %a{:href => "#"}
          Attendance
          %span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-file{:style => "font-size:16px;"}
      %li
        %a{:href => "#"}
          Contact Us
          %span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-earphone{:style => "font-size:16px;"}
      %li
        %a{:href => "#"}
          About Us
          %span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-user{:style => "font-size:16px;"}
      %li
        = link_to destroy_user_session_path, method: :delete do
          %i.fa.fa-sign-out
          Logout
          %span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-log-out{:style => "font-size:16px;"}

          

          