%form{:action => "#", :name => "StudentRegistration", :onsubmit => "return(validate());"}
  %table{:align => "center", :bgcolor => "99FFFF", :cellpadding => "2", :cellspacing => "2", :width => "20%"}
    %tr
      %td{:colspan => "2"}
        %center
          %font{:size => "4"}
            %b Student Registration Form
    %tr
      %td Name
      %td
        %input#textname{:name => "textnames", :size => "30", :type => "text"}/
    %tr
      %td Father Name
      %td
        %input#fathername{:name => "fathername", :size => "30", :type => "text"}/
    %tr
      %td Postal Address
      %td
        %input#paddress{:name => "paddress", :size => "30", :type => "text"}/
    %tr
      %td Personal Address
      %td
        %input#personaladdress{:name => "personaladdress", :size => "30", :type => "text"}/
    %tr
      %td Sex
      %td
        %input{:name => "sex", :size => "10", :type => "radio", :value => "male"}>/
        Male
        %input{:name => "sex", :size => "10", :type => "radio", :value => "Female"}>/
        Female
    %tr
      %td City
      %td
        %select{:name => "City"}
          %option{:selected => "selected", :value => "-1"} select..
          %option{:value => "New Delhi"} NEW DELHI
          %option{:value => "Mumbai"} MUMBAI
          %option{:value => "Goa"} GOA
          %option{:value => "Patna"} PATNA
    %tr
      %td Course
      %td
        %select{:name => "Course"}
          %option{:selected => "selected", :value => "-1"} select..
          %option{:value => "B.Tech"} B.TECH
          %option{:value => "MCA"} MCA
          %option{:value => "MBA"} MBA
          %option{:value => "BCA"} BCA
    %tr
      %td District
      %td
        %select{:name => "District"}
          %option{:selected => "selected", :value => "-1"} select..
          %option{:value => "Nalanda"} NALANDA
          %option{:value => "UP"} UP
          %option{:value => "Goa"} GOA
          %option{:value => "Patna"} PATNA
    %tr
      %td State
      %td
        %select{:name => "State"}
          %option{:selected => "selected", :value => "-1"} select..
          %option{:value => "New Delhi"} NEW DELHI
          %option{:value => "Mumbai"} MUMBAI
          %option{:value => "Goa"} GOA
          %option{:value => "Bihar"} BIHAR
    %tr
      %td PinCode
      %td
        %input#pincode{:name => "pincode", :size => "30", :type => "text"}/
    %tr
      %td EmailId
      %td
        %input#emailid{:name => "emailid", :size => "30", :type => "text"}/
    %tr
      %td DOB
      %td
        %input#dob{:name => "dob", :size => "30", :type => "text"}/
    %tr
      %td MobileNo
      %td
        %input#mobileno{:name => "mobileno", :size => "30", :type => "text"}/
    %tr
      %td
        %input{:type => "reset"}/
      %td{:colspan => "2"}
        %input{:type => "submit", :value => "Submit Form"}/
