= javascript_include_tag "page_specific/phone_validation"
- @sigin_page = true
.container
  .row
    .col-md-12
      .wrap
        %p.form-title
          Sign In
        %form.login{url: user_session_path, method: 'post'}
          %input#phone{:type => "tel", name: 'user[mobile_number]', class: 'form-control', placeholder: "321-44xxx46"}
          %input{name: 'user[password]', :placeholder => "Password", :type => "password", required: true}/
          %input.btn.btn-success.btn-sm{:type => "submit", :value => "Sign In", id: 'check_phone'}/
          = link_to "Register Now", new_user_registration_path, class: 'btn btn-primary hvr-sweep-to-left'
  
