@import "bootstrap";
@import "bootstrap.min";
@import "sessions";
@import "users";
@import "registrations";
@import "alert";

@import "bootstrap-datepicker";
@import "dataTables/jquery.dataTables";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";

@import "navbar";
@import "home";
@import "intlTelInput";
@import "sign_in";
@import "logo-nav";
@import "students";
@import "simple-sidebar";
@import "font-awesome";
/*override to display boostrape glyphinons*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}